body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/pexels-padrinan-1453808.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: white;
  font-size: 2em;
  text-decoration: none;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}
